@import '@/styles/_variables.scss';

.background {
  position: fixed;
  top: 0;
  right: 3.733333333333333%;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100dvw;
  min-height: 100dvh;
  padding: 182px 28px;
}
