@import '@/styles/_variables.scss';

.background {
  position: fixed;
  top: 0;
  right: 71.68px;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100dvw;
  min-height: 100dvh;
  padding: 182px 28px;
}

@media screen and (max-width: 1669px) {
  .background {
    right: 0;
  }
}
