@import '@/styles/_variables.scss';

.paragraph {
  max-width: 100%;
  white-space: pre-line;
}

.heading {
  font-size: $font_size-heading;
  line-height: 54px;
}

.subheading {
  font-size: $font_size-subheading;
  line-height: 33px;
}

.body {
  font-size: $font_size-body;
  line-height: 28px;
}

.medium {
  font-weight: 500;
}

.bold {
  font-weight: 700;
}

.accent {
  color: $color-accent;
}

.translucent {
  &_black {
    color: rgba(black, 0.7);
  }

  &_accent {
    color: rgba($color-accent, 0.7);
  }
}
