.main {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 126px;
  padding-top: 56px;

  :nth-child(2) {
    margin: 0 42.65px;
  }
}
