.main {
  position: fixed;
  top: 56px;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 70px;

  :nth-child(2) {
    margin: 0 42px;
  }
}
